body {
    background: #22313f;
}

.search-bar {
    margin-top: 0px;
}

.main-card {
    margin-top: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.username {
    color: white;
}

.username:hover {
    text-decoration: underline;
}

.time {
    color:#22313f;
    font-size: 14px;
}

.main-color {
    background: #dfcdc3;
}

.accent-border {
    border-color: #22313f;
}

.text-off-black {
    color: #212427
  }

.option-background {
    color: #f5ebeb
}