body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #22313f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.global-font {
  font-family: Montserrat;
}


.color-first {
  color: #ececec;
}

.color-second {
  color: #9fd3c7;
}

.color-third {
  color: #385170;
}

.color-fourth {
  color: #142d4c;
}

.main-color {
  background: #719192;
}

.secondary-color {
  background: #22313f;
}

.accent-color {
  background: #dfcdc3 !important;
}

.accent-border {
  border-color: #dfcdc3
}

.bg-first {
	background: #ececec;
}

.bg-second {
	background: #dbd8e3;
}

.bg-third {
	background: #385170;
}

.bg-fourth {
	background: #142d4c;
}

.text-off-black {
  color: #212427 !important
}

.secondary-color-border {
  border-color: #22313f !important;
}

.secondary-color-text {
  color: #22313f;
}